.admin-contents.ratings {
  
  .admin-ratings-list {
    margin-bottom: 30px;
    
    input {
      margin-bottom: 0;
    }
  }
  
  .rating-type input {
    width: 300px;
  }
  
  .type-controls {
    text-align: right;
  }
  
  .admin-ratings-list-controls {
    margin-top: 10px;
  }
  
  .admin-ratings-list-object {
    position: relative;
    
    td:first-of-type {
      width: 350px;
    }
    
    &.has-error {
      border: 2px solid $danger;
      min-height: 70px;
      
      .error {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}