.admin-contents.ratings {
  input {
    margin-bottom: 0;
  }
  
  .types,
  .object-types {
    margin-bottom: 30px;
  }
  
  .type-controls {
    text-align: right;
  }
  
  .type-list-controls {
    margin-top: 10px;
  }
  
  .rating-object {
    position: relative;
    
    td:first-of-type {
      width: 350px;
    }
    
    &.error {
      border: 2px solid $danger;
      min-height: 70px;
      
      .error {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}