@import "admin";

.rating-list {
  display: flex;
  flex-direction: column;

  .rating {
    margin: 2px 0;
    display: inline-flex;
    align-items: center;

    span:not(:last-of-type) {
      margin-right: 6px;
    }

    span.star-rating {
      margin-bottom: 2px;
    }
  }
}

.topic-meta-data .names.has-ratings {
  align-items: flex-start;

  .rating {
    margin: 0 5px 0 0;
  }
}

#list-area .rating-list {
  font-size: 0.8706em;
}

span.star-rating {
  vertical-align: middle;
  font-size: 0;
  padding: 0;
  white-space: nowrap;
  display: inline-block;
  width: 70px;
  height: 14px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;

  i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
    background-size: contain;
  }

  input[type="radio"],
  span {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    border: none;

    &:hover:not(.disabled) + i,
    &:checked + i,
    &.checked + i {
      opacity: 1;
    }

    &:disabled {
      cursor: initial;
    }
  }

  i ~ i {
    width: 40%;
  }

  i ~ i ~ i {
    width: 60%;
  }

  i ~ i ~ i ~ i {
    width: 80%;
  }

  i ~ i ~ i ~ i ~ i {
    width: 100%;
  }

  .clickable {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

#reply-control .composer-controls-rating {
  float: left;
  clear: both;
  display: flex;
  flex-flow: wrap;

  .rating-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid $primary-medium;
    padding: 6px 6px 6px 10px;
    line-height: 16px;
    margin: 0 6px 10px 0;

    input.include-rating,
    span:not(:last-of-type) {
      margin: 0 6px 0 0;
    }
  }
}

#topic-title.has-ratings {
  .topic-rating-container {
    margin-top: 3px;
  }

  &.editing .topic-rating-container {
    display: none;
  }

  &:not(.editing) {
    .topic-category a.badge-wrapper,
    &.has-extra .topic-category .topic-header-extra {
      margin-right: 8px;
    }
  }
}

.topic-rating-tip {
  float: left;
  position: relative;

  .btn {
    float: left;
    min-height: initial;
  }

  .fa {
    color: $primary-medium;
    margin-right: 2px;
  }

  .tip-details {
    background-color: dark-light-diff($primary, $secondary, 95%, -85%);
    box-shadow: shadow("dropdown");
    padding: 10px 15px;
    position: absolute;
    top: 20px;
    z-index: 10;
    width: 300px;

    ul {
      margin-bottom: 0;
    }

    li {
      margin: 2px 0;
    }
  }
}
